<h6>Введите сообщение:</h6>
<%= form_for :message, url: messages_path, method: :post do |form| %>
  <p><%= form.text_area :body %></p>
  <p><%= form.submit 'Send' %></p>
<% end %>

<p><%= link_to 'Отмена', tests_path %></p>
