<tbody>
  <tr>
    <td><%= backander.title %></td>
    <td><img src='<%= backander.file %>' height='50' width='50' /></td>
    <td><%= backander.rules%></td>
    <td><%= backander.type %></td>

  </th>
</tbody>

