<h3>Badges list</h3>

<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Viev</th>
      <th>Rules</th>
      <th>Type</th>
      <th>Action</th>
    </tr>
  </thead>
  <%= render @badges %>
</table>

<p><%= link_to 'Create new bage', new_admin_badge_path %></p>
<p><%= link_to 'Back', admin_tests_path %>
