<h3>All badges</h3>

<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Viev</th>
      <th>Rules</th>
    </th>
  </thead>
  <%= render @badges%>
</table>

<p><%= link_to 'back', :back %></p>
