<h6>Введите сообщение:</h6>
<%= form_for :message, url: send_message_test_passage_path do |form| %>
  <p><%= form.text_area :body %></p>
  <p><%= form.submit 'Send' %></p>
<% end %>

<p><%= link_to 'Отмена', test_passage_path %></p>
