<% if object.present? && object.errors.any?%>
  <%= content_tag :div, class: 'resource-errors', data: { resource_id: object.id } do %>
    <h2><%= t('shared.errors.header', count: object.errors.count) %>:</h2>
    <ul>
      <%object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <%end %>
    </ul>
  <% end %>
<% end %>
