<h3>Question</h3>

<h4><%= @answer.question.body %></h4>

<p>
  <b>Answer:</b>
  <%= @answer.body %>
</p>
<p>
  <b>Correct:</b>
  <%= @answer.correct %>
</p>

<p><%= link_to 'Back', question_path(@answer.question)%></p>
