.form-badge {
    font-size: smaller;
}

.input {
  width: 180px;
  margin: 10px;
  border-radius: 10px;
  margin-left: 11%;
}

.file {
  margin-left: 11px;
}

.button-badge {
  background-color: rgb(187, 228, 231);
}

.badges {
  text-align: center;
}
