<h2>Tests</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Questions</th>
    <th colspan= 2>Action</th>
  </tr>
  <%= render @tests %>
</table>
<br>
<div><%= link_to 'New Test', new_admin_test_path %></div>
