<tr>
  <div class='row'>
    <td class='col-7'><%= test.title %></td>
    <td class='col-2'><%= test.questions.count %></td>
    <td class='col-2'><%= test.timer %></td>
    <td class='col-3 '><%= button_to t('.start'), start_test_path(test), class: "btn btn-outline-success btn-sm" %></td>
  </div>
</tr>
