<tr>
  <div class='row'>
    <div class='col-7'><%= test.title %></div>
    <div class='col-2'><%= test.questions.count %></div>
    <div class='col-3 '><%= button_to t('.start'), start_test_path(test), class: "btn btn-outline-success btn-sm" %></div>
  </div>
</tr>
