<h3><%= @test.title%></h3>
<table>
  <tr>
    <th>Question<th>
    <th></th>
  </tr>
  <%= render @test.questions  %>
</table>
<p><%= link_to 'new create', new_test_question_path(@test) %></p>
<p><%= link_to 'back', tests_path %></p>
