<footer>
    <p><%= current_year %></p>
    <p>Автор Азиев К.</p>
    <p><%= github_link_html  %></p>
    <p>Учебный проект в онлайн школе <%= link_to 'Thinknetica!',
      "https://thinknetica.com/",
       target: :_blank,
       rel: { nofollow: true, nopener: true } %></p>
</footer>
